h1, h2, h3, h4, h5 {
    font-family: 'Roboto', sans-serif;
}

h1 { font-size: 32px; }
h2 { font-size: 24px; }
h3 { font-size: 18px; }
h4 { font-size: 16px; }
p { font-size: 16px;  }
p, label { font-family: 'Raleway', sans-serif; }


#app {
    color: #FFF;
}

.main-content-block {
    height: 100vh;

    section {
        height: 700px;
        width: 850px;
        background-color: #242F40;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
    }
}


.start-button, .question-buttons {
    .btn {
        border-radius: 25px;
        border: none;
        background-color: #2292A4;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        
        &:hover {
            background-color: #8ED081;
        } 
        &:focus {
            box-shadow: none;
        }
        &:visited {
            box-shadow: none;
        }
    }
}

.question-header, .start-header, .results-header {
    text-align: center;
    margin: 2rem 0;
    padding: 0 2rem;
}

.question-header {
    border-bottom: 1px solid #FFF;
}

.input-styling, .input-styling-radio {
    margin-bottom: 2rem;
    text-align: center;
}

.select-trivia-options {
    text-align: center;
    width: 65%;
    margin: 0 auto;

    .label-styling {
        margin-bottom: 0.5rem;
    }

    .input-styling { 
        border: none;
        height: 40px;
        box-shadow: 0 0 16px rgb(0 0 0 / 50%);
        padding: 0;
    }

    .input-styling-radio {
        height: 15px;
        margin-right: 5px;
        Width: 20px;
    }

    .start-button {
        .btn {
            height: 50px;
        }
    }
}

.show-questions {
    padding: 1rem 2rem;

    .question-buttons {
        .btn {
            height: 85px;
            margin-bottom: 2rem;           
        }
    }
}

